<section>
  <div class="container-fluid">
    <nav class="atnt-nav-bar navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" [routerLink]="['']"
        ><img style="max-width:50px" src="assets/img/atnt.png" alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['']" routerLinkActive="active"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['plans']"
              routerLinkActive="router-link-active"
              >Plans</a
            >
          </li>
        </ul>
        <app-search></app-search>
      </div>
    </nav>
  </div>
</section>
