<div class="card profile-card">
  <div class="card-body">
    <div *ngIf="isLoading" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

  <div class="card-body" *ngFor="let post of posts$">
    <div *ngIf="!isLoading">
      <div class="d-flex bd-highlight">
        <div class="p-2 bd-highlight">
          <fa-icon [icon]="faUser" size="2x"></fa-icon>
        </div>
        <div class="p-2 flex-fill">
          <div>
            <small>{{ post.creator }}</small>
          </div>
          <div>
            <small class="dvSmall"> Software Engineer at ViewQwest</small>
          </div>
          <div>
            <small class="dvSmall">{{ post.date | date }}</small>
          </div>
        </div>
      </div>
      <div class="d-flex bd-highlight" style="margin-top: -10px;">
        <div class="p-2 bd-highlight">
          <i style="opacity: 0;" class="far fa-user-circle fa-2x"></i>
        </div>
      </div>

      <div>
        <p class="dvp">
          {{ post.text }}
        </p>
      </div>

      <div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="margin-left: -15px;"></li>
          <li class="list-group-item" style="margin-left: -15px;">
            <ul class="list-inline">
              <li class="list-inline-item">
                <small>{{ post.likes.length }} Likes</small>
              </li>
              <li class="list-inline-item">
                <small>{{ post.comments.length }} comments</small>
              </li>
            </ul>
          </li>
          <li
            class="list-group-item"
            style="margin-left: -15px; color: rgba(0, 0, 0, 0.6);"
          >
            <ul class="list-inline">
              <li class="list-inline-item">
                <fa-icon [icon]="faThumbsUp"></fa-icon>
                &nbsp; <small>Like</small>
              </li>
              <li class="list-inline-item">
                <fa-icon [icon]="faThumbsDown"></fa-icon>
                &nbsp; <small>Unlike</small>
              </li>
              <li class="list-inline-item">
                <fa-icon [icon]="faComment" size="1x"></fa-icon>
                &nbsp; <small>Comment</small>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <hr />
      <div>
        <div>
          <div class="d-flex bd-highlight">
            <div class="p-2 flex-fill bd-highlight">
              <div class="p-2">
                <p>
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Add a comment</mat-label>
                    <input matInput />
                  </mat-form-field>
                </p>
              </div>
              <div class="p-2">
                <p>
                  <button
                    class="postbtn"
                    mat-raised-button
                    color="primary"
                    type="submit"
                  >
                    Sign In
                  </button>
                </p>
              </div>
            </div>
          </div>
          <div
            class="d-flex bd-highlight"
            style="background-color: #f8f8f8;"
            *ngFor="let comment of post.comments"
          >
            <div class="p-2 bd-highlight">
              <img
                width="40"
                src="{{ comment.avatar }}"
                alt="devconnector user image"
              />
            </div>
            <div class="p-2 flex-fill">
              <div><small> Oyinlola Olasunkanmi Raymond</small></div>
              <div>
                <small class="dvSmall"> Software Engineer at ViewQwest</small>
              </div>
              <div>
                <p class="dvp">
                  {{ comment.text }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
