<div class="row">
  <div class="col-md-6 mb-3">
    <img
      [src]="recipe.imagePath"
      alt=""
      class="img-response"
      style="max-height: 300px;"
    />
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <button
      (click)="handleToggle()"
      style="padding-right:30px; padding-left:30px;"
      class="btn btn-lg btn-primary"
    >
      Manage Recipe
    </button>
    <div *ngIf="depend" class="card" style="width: 12rem;">
      <ul class="list-group">
        <li class="list-group-item">
          <a (click)="updateShoppingList()" style="cursor: pointer;"
            >To Shopping List</a
          >
        </li>
        <li class="list-group-item">Edit Recipe</li>
        <li class="list-group-item">Delete Recipe</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
    {{ recipe.name }}
  </div>
</div>
<div class="row">
  <div class="col-md-12 mb-3">
    {{ recipe.description }}
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </li>
    </ul>
  </div>
</div>
