<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        *ngIf="isAuth && hasHandle"
        mat-list-item
        [routerLink]="['/pages/posts']"
      >
        <fa-icon [icon]="faUser" size="1x"></fa-icon> &nbsp;Home</a
      >
      <a
        *ngIf="isAuth && hasHandle"
        mat-list-item
        [routerLink]="['/pages/profiles']"
        >Developers</a
      >
      <a
        *ngIf="isAuth && hasHandle"
        mat-list-item
        [routerLink]="['/pages/posts']"
        >feeds</a
      >
      <button
        *ngIf="isAuth && hasHandle"
        mat-button
        [matMenuTriggerFor]="beforeMenu"
        class="btncolor"
      >
        Profile
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="after">
        <button mat-menu-item>Account</button>
        <button [routerLink]="['/pages/profile']" mat-menu-item>
          View Profile
        </button>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Post & Activities</button>
      </mat-menu>
      <a *ngIf="" mat-list-item href="#">Notifications</a>
      <a *ngIf="!isAuth" mat-list-item [routerLink]="['/auth/signup']"
        >Sign Up</a
      >
      <a *ngIf="!isAuth" mat-list-item [routerLink]="['/auth/login']"
        >Sign In</a
      >
      <button
        class="btnmove"
        (click)="onLogout()"
        mat-raised-button
        color="accent"
        *ngIf="userAuthenticated"
      >
        Sign Out
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>Devconnect</span>

      <span class="spacer"></span>
      <span class="main-menu">
        <a *ngIf="isAuth && hasHandle" [routerLink]="['/pages/posts']"
          ><fa-icon [icon]="faUser" size="1x"></fa-icon
        ></a>
        <a *ngIf="isAuth && hasHandle" [routerLink]="['/pages/profiles']"
          >Developers</a
        >
        <a
          *ngIf="isAuth && hasHandle"
          mat-list-item
          [routerLink]="['/pages/posts']"
          >feeds</a
        >

        <button
          *ngIf="isAuth && hasHandle"
          mat-button
          [matMenuTriggerFor]="beforeMenu"
        >
          Profile
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item>Account</button>
          <button [routerLink]="['/pages/profile']" mat-menu-item>
            View Profile
          </button>
          <button mat-menu-item>Settings</button>
          <button mat-menu-item>Post & Activities</button>
        </mat-menu>
        <a href="#" *ngIf="isAuth && hasHandle">Notification</a>
        <a *ngIf="!isAuth" [routerLink]="['/auth/signup']">Sign Up</a>
        <a *ngIf="!isAuth" [routerLink]="['/auth/login']">Sign In</a>
        <button
          (click)="onLogout()"
          mat-raised-button
          color="accent"
          *ngIf="userAuthenticated"
        >
          Sign Out
        </button>
      </span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
