<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']">
        <fa-icon [icon]="faUser" size="1x"></fa-icon> &nbsp;Home</a
      >
      <a mat-list-item [routerLink]="['/pages/profiles']">Developers</a>
      <a mat-list-item [routerLink]="['/pages/profile']">Profile</a>
      <a mat-list-item href="#">Notifications</a>
      <a mat-list-item [routerLink]="['/auth/signup']">Sign Up</a>
      <a mat-list-item [routerLink]="['/auth/login']">Sign In</a>
      <button mat-raised-button color="accent">Logout</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>Devconnect</span>

      <span class="spacer"></span>
      <span class="main-menu">
        <a [routerLink]="['/']"
          ><fa-icon [icon]="faUser" size="1x"></fa-icon
        ></a>
        <a [routerLink]="['/pages/profiles']">Developers</a>
        <a [routerLink]="['/pages/profile']">Profile</a>
        <a [routerLink]="['/auth/signup']">Sign Up</a>
        <a [routerLink]="['/auth/login']">Sign In</a>
        <button mat-raised-button color="accent">Logout</button>
      </span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
