<!DOCTYPE html>
<html lang="en">
  <body>
    <section class="dvspace">
      <div class="container">
        <div class="row">
          <div class="col-md-3 mb-3">
            <ul class="list-group">
              <a class="dvprofile" href="profile.html"
                ><li class="list-group-item text-center">
                  <fa-icon [icon]="faUser" size="3x"></fa-icon>
                  <p class="dvhead">Oyinlola Olasunkanmi Raymond</p>
                  <small style="font-weight: 350;"
                    >Software Engineer at ViewQwest</small
                  >
                </li>
              </a>

              <li class="list-group-item text-center">
                <span color="primary" class="dvstatus">Employed</span>
              </li>
            </ul>
          </div>
          <div class="col-md-5 mb-3">
            <div class="card">
              <div class="card-body">
                <form class="form-example">
                  <p>
                    <mat-form-field appearance="fill" class="full-width">
                      <mat-label>
                        <fa-icon [icon]="faFeather"></fa-icon> Start a
                        post</mat-label
                      >
                      <textarea matInput></textarea>
                    </mat-form-field>
                  </p>
                  <p>
                    <button
                      class="postbtn"
                      mat-raised-button
                      color="primary"
                      type="submit"
                    >
                      Sign In
                    </button>
                  </p>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <ul class="list-group">
              <li class="list-group-item text-center">Random Developers</li>
              <li class="list-group-item">
                <div class="d-flex bd-highlight">
                  <div class="p-2 flex-fill bd-highlight">
                    <fa-icon [icon]="faUser" size="2x"></fa-icon>
                  </div>
                  <div class="p-2 flex-fill bd-highlight">
                    <small>Oyinlola Olasunkanmi</small>
                  </div>

                  <button class="dvbutton">Follow +</button>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex bd-highlight">
                  <div class="p-2 flex-fill bd-highlight">
                    <fa-icon [icon]="faUser" size="2x"></fa-icon>
                  </div>
                  <div class="p-2 flex-fill bd-highlight">
                    <small>Oyinlola Olasunkanmi</small>
                  </div>

                  <button class="dvbutton">Follow +</button>
                  <button (click)="getUser()">Follow +</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="row" style="margin-top: -10px;">
          <div class="col-md-3 mb-3"></div>
          <div class="col-md-5 mb-3"><app-post></app-post></div>

          <div class="col-md-4 mb-3"></div>
        </div>
      </div>
    </section>
  </body>
</html>
