<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3 dvcard dvavatar">
        <img
          style="max-width: 100%;"
          src="assets/img/devconnector.svg"
          alt=""
        />
        <!-- <p>
          <button
            class="example-full-width"
            mat-raised-button
            color="primary"
            type="submit"
            (click)="onClick()"
          >
            Current User
          </button>
        </p> -->
      </div>
      <div class="col-md-6 mb-3 dvcard">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-subtitle
              ><p>Sign in for the full Experience</p>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <form
              class="example-form"
              [formGroup]="signInForm"
              (ngSubmit)="onLogin()"
            >
              <p>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input formControlName="email" matInput type="email" />
                  <mat-error *ngIf="email.touched && email.invalid">
                    <mat-error
                      *ngIf="signInForm.controls['email'].hasError('hasEmail')"
                    >
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="email.errors.required">
                      Email is required
                    </mat-error>
                  </mat-error>
                </mat-form-field>
              </p>

              <p>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Enter password</mat-label>
                  <input
                    formControlName="password"
                    matInput
                    [type]="hide ? 'password' : 'text'"
                  />
                  <button
                    type="button"
                    mat-icon-button
                    matSuffix
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"
                  >
                    <mat-icon>{{
                      hide ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                  <mat-error *ngIf="password.invalid && password.touched">
                    <mat-error *ngIf="password.errors.required">
                      Password is required
                    </mat-error>
                  </mat-error>
                </mat-form-field>
              </p>
              <p *ngIf="!(isLoading$ | async)">
                <button
                  class="example-full-width"
                  mat-raised-button
                  color="primary"
                  type="submit"
                  [disabled]="signInForm.invalid"
                >
                  Sign In
                </button>
              </p>
              <div class="d-flex justify-content-center">
                <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
              </div>
            </form>
          </mat-card-content>

          <div>
            <p class="dvterms">
              Forgot password ?
              <a [routerLink]="['/auth/forgot-password']">click here</a>
            </p>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
