.card {
  height: auto !important;
  margin: 0 auto !important;
  padding: 30px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

body {
  background-color: #f1f1f1;
}

.dvcard {
  margin-top: 90px !important;
}

.form-group {
  margin-bottom: 0.5rem !important;
}

.form-control {
  font-weight: 450 !important;
  font-size: 0.9rem !important;
  color: rgba(var(--i1d, 38, 38, 38), 1) !important;
  background-color: #fafafa !important;
}

.dvbtn {
  margin-top: 15px;
}

.dvterms {
  color: #8e8e8e;
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 14px;
  line-height: 18px;
  margin: 10px 60px;
  text-align: center;
}

.dvterms a {
  color: #7d7a7a;
  text-decoration: none !important;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .dvavatar {
    display: none;
  }
}

.devmenu {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1rem;
  line-height: inherit;
  white-space: nowrap;
  color: rgb(195, 191, 191);
  text-decoration: none !important;
}

.devmenu:hover {
  color: #fff;
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
