<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/c49db44e4a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section style="margin-top: 90px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 mb-3">
            <ul class="list-group">
              <li class="list-group-item text-center">
                <i class="far fa-user-circle fa-2x"></i>
                <p class="dvhead">Oyinlola Olasunkanmi Raymond</p>
                <small>Software Engineer at ViewQwest</small>
              </li>
              <li class="list-group-item text-center">
                <span class="dvstatus">
                  <a href="profile.html"
                    ><button class="btn btn-success btn-sm">Profile</button></a
                  >
                </span>
              </li>
            </ul>
          </div>
          <div class="col-md-2 mb-3">
            <ul class="list-group">
              <li class="list-group-item text-center">
                <i class="far fa-user-circle fa-2x"></i>
                <p class="dvhead">Oyinlola Olasunkanmi Raymond</p>
                <small>Software Engineer at ViewQwest</small>
              </li>
              <li class="list-group-item text-center">
                <span class="dvstatus">
                  <a href="profile.html"
                    ><button class="btn btn-success btn-sm">Profile</button></a
                  >
                </span>
              </li>
            </ul>
          </div>
          <div class="col-md-2 mb-3">
            <ul class="list-group">
              <li class="list-group-item text-center">
                <i class="far fa-user-circle fa-2x"></i>
                <p class="dvhead">Oyinlola Olasunkanmi Raymond</p>
                <small>Software Engineer at ViewQwest</small>
              </li>
              <li class="list-group-item text-center">
                <span class="dvstatus">
                  <a href="profile.html"
                    ><button class="btn btn-success btn-sm">Profile</button></a
                  >
                </span>
              </li>
            </ul>
          </div>
          <div class="col-md-2 mb-3">
            <ul class="list-group">
              <li class="list-group-item text-center">
                <i class="far fa-user-circle fa-2x"></i>
                <p class="dvhead">Oyinlola Olasunkanmi Raymond</p>
                <small>Software Engineer at ViewQwest</small>
              </li>
              <li class="list-group-item text-center">
                <span class="dvstatus">
                  <a href="profile.html"
                    ><button class="btn btn-success btn-sm">Profile</button></a
                  >
                </span>
              </li>
            </ul>
          </div>
          <div class="col-md-2 mb-3">
            <ul class="list-group">
              <li class="list-group-item text-center">
                <i class="far fa-user-circle fa-2x"></i>
                <p class="dvhead">Oyinlola Olasunkanmi Raymond</p>
                <small>Software Engineer at ViewQwest</small>
              </li>
              <li class="list-group-item text-center">
                <span class="dvstatus">
                  <a href="profile.html"
                    ><button class="btn btn-success btn-sm">Profile</button></a
                  >
                </span>
              </li>
            </ul>
          </div>
          <div class="col-md-2 mb-3">
            <ul class="list-group">
              <li class="list-group-item text-center">
                <i class="far fa-user-circle fa-2x"></i>
                <p class="dvhead">Oyinlola Olasunkanmi Raymond</p>
                <small>Software Engineer at ViewQwest</small>
              </li>
              <li class="list-group-item text-center">
                <span class="dvstatus">
                  <a href="profile.html"
                    ><button class="btn btn-success btn-sm">Profile</button></a
                  >
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
