.profile-card {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 3px 3px rgba(0, 0, 0, 0.2),
    1px solid rgba(0, 0, 0, 0.125);
  transition: box-shadow 83ms;
  margin: 16px 0;
  padding: 24px;
}

body {
  background-color: #f1f1f1;
}

.devmenu {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1rem;
  line-height: inherit;
  white-space: nowrap;
  color: rgb(195, 191, 191);
  text-decoration: none !important;
}

.devmenu:hover {
  color: #fff;
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
/* 
  .devmenu a:hover {
    text-decoration: none !important;
    color: #fff;
  } */
