<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-2 mb-3"></div>
          <div class="col-md-8 mb-3">
            <div class="card profile-card">
              <div class="p-2 bd-highlight">
                <i class="fas fa-user-circle fa-7x"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  Oyinlola Olasunkanmi Raymond
                  <span class="float-right">
                    <a href=""><i class="fas fa-pen"></i></a>
                  </span>
                </h5>
                <p class="card-text">Kosemani1</p>
                <p class="card-text">Software Engineer at ViewQwest</p>
                <p class="card-text">Kuala Lumpur, Kuala Lumpur, Malaysia</p>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <i class="fab fa-facebook-f"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fab fa-twitter"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fab fa-instagram"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fab fa-linkedin-in"></i>
                  </li>
                </ul>
                <a href="#" class="btn btn-success btn-sm">Contact Info</a>
              </div>
            </div>

            <div class="card profile-card">
              <div class="card-body">
                <p class="card-text">
                  Skills
                  <span class="float-right">
                    <a href=""><i class="fas fa-pen"></i></a>
                  </span>
                </p>
                <p class="card-text">PHP, Javascript, Node Js</p>
              </div>
            </div>

            <div class="card profile-card">
              <div class="card-body">
                <p class="card-text">
                  Github Repository
                  <span class="float-right">
                    <a href=""><i class="fas fa-pen"></i></a>
                  </span>
                </p>
                <p class="card-text">PHP, Javascript, Node Js</p>
              </div>
            </div>

            <div class="card profile-card">
              <div class="card-body">
                <p class="card-text">
                  Bio
                  <span class="float-right">
                    <a href=""><i class="fas fa-pen"></i></a>
                  </span>
                </p>
                <p class="card-text">
                  Build robust, secure and expressive APIs with Node and Express
                  Js. Integrate backend APIs with frontend with Angular JS
                  framework
                </p>
              </div>
            </div>

            <div class="card profile-card">
              <div class="card-body">
                <p class="card-text">
                  Experience
                  <span class="float-right">
                    <a href=""><i class="fas fa-plus"></i></a>
                  </span>
                </p>
                <h5 class="card-title">
                  Software Engineer
                  <span class="float-right">
                    <a href=""><i class="fas fa-pen"></i></a>
                  </span>
                </h5>
                <p class="card-text">ViewQwest. Fulll-time</p>
                <p class="card-text">Jan 2020 - Present. 4 months</p>
                <p class="card-text">Kuala Lumpur, Kuala Lumpur, Malaysia</p>
                <small
                  >Build robust, secure and expressive APIs with Node and
                  Express Js. Integrate backend APIs with frontend with Angular
                  JS framework.</small
                >
              </div>
              <hr />
              <div class="card-body">
                <h5 class="card-title">
                  Software Engineer
                  <span class="float-right">
                    <a href=""><i class="fas fa-pen"></i></a>
                  </span>
                </h5>
                <p class="card-text">ViewQwest. Fulll-time</p>
                <p class="card-text">Jan 2020 - Present. 4 months</p>
                <p class="card-text">Kuala Lumpur, Kuala Lumpur, Malaysia</p>
                <small
                  >Build robust, secure and expressive APIs with Node and
                  Express Js. Integrate backend APIs with frontend with Angular
                  JS framework.</small
                >
              </div>
            </div>

            <div class="card profile-card">
              <div class="card-body">
                <p class="card-text">
                  Education
                  <span class="float-right">
                    <a href=""><i class="fas fa-plus"></i></a>
                  </span>
                </p>
                <h5 class="card-title">
                  Olabisi Onabanjo University
                  <span class="float-right">
                    <a href=""><i class="fas fa-pen"></i></a>
                  </span>
                </h5>
                <p class="card-text">BSc Electrical Enginerring</p>
                <p class="card-text">Jan 2020 - Present. 4 months</p>
              </div>
              <hr />
              <div class="card-body">
                <h5 class="card-title">
                  Olabisi Onabanjo University
                  <span class="float-right">
                    <a href=""><i class="fas fa-pen"></i></a>
                  </span>
                </h5>
                <p class="card-text">BSc Electrical Enginerring</p>
                <p class="card-text">Jan 2020 - Present. 4 months</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 mb-3"></div>
        </div>
      </div>
    </section>
  </body>
</html>
