/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
  overflow-y: hidden;
}

@media only screen and (max-width: 650px) {
  .body {
    overflow-y: auto;
  }
}
