/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

input:-internal-autofill-selected {
  background-color: none !important;
  background-image: none !important;
  color: -internal-light-dark-color(black, white) !important;
}
.mat-drawer-inner-container {
  background-color: #160338 !important;
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  color: #fff !important;
}

/* .mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: 0 0px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 9px 0 rgba(0, 0, 0, 0.2) !important;
} */
