/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

input:-internal-autofill-selected {
  background-color: none !important;
  background-image: none !important;
  color: -internal-light-dark-color(black, white) !important;
}
.mat-drawer-inner-container {
  background-color: #342c42 !important;
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  color: #fff !important;
}
