<footer
  class="pt-4 my-md-5 pt-md-5"
  style="
    background-color: #ffd740 !important;
    overflow: hidden !important;
    margin-top: 100px !important;
    text-decoration: none !important;
  "
>
  <div class="row">
    <div class="col-md-2 mb-3"></div>
    <div class="col-md-3 mb-3">
      <h6>Features</h6>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Cool stuff</a></li>
        <li><a class="text-muted" href="#">Random feature</a></li>
        <li><a class="text-muted" href="#">Team feature</a></li>
        <li><a class="text-muted" href="#">Stuff for developers</a></li>
      </ul>
    </div>
    <div class="col-md-3 mb-3">
      <h6>Resources</h6>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Resource</a></li>
        <li><a class="text-muted" href="#">Resource name</a></li>
        <li><a class="text-muted" href="#">Another resource</a></li>
        <li><a class="text-muted" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-md-3 mb-3">
      <h6>About</h6>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
    <div class="col-md-1 mb-3"></div>
  </div>
</footer>
